.timer{
            max-width: 650px;
            width: 100%;
            font-size: 3em;
            display: grid;
            grid-template-columns: 1fr .3fr 1fr .3fr 1fr;
            justify-content: center;
            height: fit-content;
            font-size: 7em;
            line-height: 1;
            font-weight: bold;
            align-items: center;

            & .digit, & .separator{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }